@charset "UTF-8";

.ui-menu {
  z-index: 999;
  background-color: #fff;
  padding: 0;
  width: 250px;
  -webkit-box-shadow: 0 0 1px 0 #777777;
          box-shadow: 0 0 1px 0 #777777;
}

.ui-menu-item {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.ui-menu-item:hover {
  -webkit-box-shadow: 0 0 6px 0 #777777;
          box-shadow: 0 0 6px 0 #777777;
}

.suggestions-nowrap {
  white-space: nowrap;
}

/**
 * Основной INPUT
 */

.suggestions-input {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.suggestions-input::-ms-clear {
  display: none;
}

.suggestions-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-text-size-adjust: 100%;
}

/**
 * Выпадающий блок с найденными подсказками
 */

.suggestions-suggestions {
  background: #fff;
  border: 1px solid #999;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  left: 0;
  min-width: 100%;
  position: absolute;
  z-index: 9999;
  -webkit-text-size-adjust: 100%;
}

.suggestions-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}

.suggestions-suggestions.suggestions-mobile {
  border-style: none;
}

.suggestions-suggestions.suggestions-mobile .suggestions-suggestion {
  border-bottom: 1px solid #ddd;
}

/**
 * Контейнер для одной подсказки
 */

.suggestions-suggestion {
  padding: 4px 4px;
  overflow: hidden;
}

.suggestions-suggestion:hover {
  background: #f7f7f7;
}

/**
 * Выбранная (активная) подсказка
 */

.suggestions-selected {
  background: #f0f0f0;
}

.suggestions-selected:hover {
  background: #f0f0f0;
}

/**
 * Информационный блок в верхней части выпадашки с подсказками
 */

.suggestions-hint {
  padding: 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  color: #777;
  font-size: 85%;
  line-height: 20px;
}

/**
 * Дополнительный текст в подсказке, который идет второй строкой
 */

.suggestions-subtext {
  color: #777;
}

/**
 * Размещает дополнительный текст в одну строку с основным текстом подсказки
 */

.suggestions-subtext_inline {
  display: inline-block;
  min-width: 6em;
  vertical-align: bottom;
  margin: 0 0.5em 0 0;
}

/**
 * Разделитель нескольких дополнительных текстов
 */

.suggestions-subtext-delimiter {
  display: inline-block;
  width: 2px;
}

/**
 * Выделяет подсказку
 */

.suggestions-subtext_label {
  margin: 0 0 0 0.25em;
  border-radius: 3px;
  padding: 0 3px;
  background: #f5f5f5;
  font-size: 85%;
}

.suggestions-value[data-suggestion-status="LIQUIDATED"] {
  position: relative;
}

.suggestions-value[data-suggestion-status="LIQUIDATED"]:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  content: "";
}

/**
 * Промо-блок
 */

.suggestions-promo {
  font-size: 85%;
  display: none;
  color: #777;
  padding: 4px;
  text-align: center;
}

.suggestions-promo a {
  color: #777;
  display: block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  line-height: 20px;
  text-decoration: none;
}

.suggestions-promo a:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.suggestions-promo svg {
  height: 20px;
  vertical-align: bottom;
}

.psw-wrapper * {
  font-family: -apple-system, Ubuntu, 'Open Sans', sans-serif;
}

input.psw-input-error,
input.psw-input-error:hover,
input.psw-input-error:focus {
  border: 2px solid #b40000;
  background-color: rgba(180, 0, 0, 0.05);
}

input.psw-form-input-error,
input.psw-form-input-error:hover,
input.psw-form-input-error:focus {
  border: 1px solid #b40000;
  background-color: rgba(180, 0, 0, 0.05);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.psw-form-checkbox + .psw-form-checkbox-item__label {
  display: block;
  margin-bottom: 10px;
  padding: 3px 0;
  padding-left: 40px;
  position: relative;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.psw-form-checkbox + .psw-form-checkbox-item__label::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #444;
  border-radius: 4px;
}

.psw-form-checkbox:checked + .psw-form-checkbox-item__label::after {
  content: '✔';
  width: 22px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 6px;
  color: #444;
}

.psw-form-checkbox:focus + .psw-form-checkbox-item__label::before,
.psw-form-checkbox:active:enabled + .psw-form-checkbox-item__label::before,
.psw-form-checkbox:hover:enabled + .psw-form-checkbox-item__label::before {
  border: 2px solid #059900;
}

.psw-p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

.psw-h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
}

.psw-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  min-height: 40px;
  padding: 0 5px;
  border-radius: 4px;
  border: 2px solid #272727;
  background-color: #fff;
  font-size: 17px;
  -webkit-transition: border-color .2s ease;
  -o-transition: border-color .2s ease;
  transition: border-color .2s ease;
}

.psw-input:hover,
.psw-input:active,
.psw-input:focus {
  border: 2px solid #059900;
  outline: none;
}

.psw-btn {
  min-height: 40px;
  padding: 0 18px;
  border-radius: 4px;
  background-color: #036800;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  border: 0;
  cursor: pointer;
}

.psw-btn--copy {
  font-size: 17px;
  font-weight: 400;
  background-color: #fff;
  color: #444;
  border: 1px solid #444;
}

.psw-btn:hover {
  background-color: #048300;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.psw-btn--copy:hover {
  background-color: #444;
  color: #fff;
}

.psw-form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
}

.psw-form-footer .psw-btn {
  margin: 0 5px;
}

.psw-btn-link-wrapper {
  width: 75%;
  margin-left: auto;
  padding-left: 6px;
}

.psw-btn-link {
  background-color: transparent;
  text-decoration: underline;
  color: #444;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  border: 0;
  cursor: pointer;
}

.psw-btn-link:hover {
  color: #048300;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.psw-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #f9f9f9;
  color: #444;
  overflow-x: hidden;
  position: relative;
}

.psw-wrapper,
.psw-wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.psw-main-screen {
  display: none;
}

.psw-main-screen.psw-main-screen--active {
  display: block;
}

.psw-main-screen-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.psw-main-screen__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.psw-main-screen-inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.psw-main-screen__psw-btn {
  margin-left: 10px;
}

.psw-main-screen__psw-btn-link {
  margin-top: 10px;
}

/* Форма */

.psw-notification-dange {
  margin-top: 20px;
}

.psw-notification-dange__text {
  color: #d44440;
}

.psw-form {
  display: none;
  width: 100%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.psw-form.psw-form--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.psw-form-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding: 20px;
}

.psw-form-screen__title {
  margin-top: 0;
  font-weight: 400;
}

.psw-form-screen__title span {
  font-size: 17px;
  font-style: italic;
}

.psw-form-col-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px 60px;
}

.psw-form-col-wrapper--drivers {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0 -20px 0;
}

.psw-form-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 20px;
}

.psw-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.psw-form-item--hidden {
  display: none;
}

.psw-form-item--checkbox {
  padding-bottom: 10px;
}

.psw-form-item--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.psw-drop-list {
  max-height: 210px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #e6eaea;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 1px 1px 4px 0px #cccc;
          box-shadow: 1px 1px 4px 0px #cccc;
}

.psw-drop-list li {
  /* margin-bottom: 10px; */
  padding: 4px 10px;
}

.psw-drop-list li:hover {
  background-color: #e6eaea;
  cursor: pointer;
}

.psw-form-item:last-child {
  margin-bottom: 0;
}

.psw-form-item .psw-label--select {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 12px;
}

.psw-form-item label {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.psw-form-input {
  font-family: inherit;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.psw-form-input:disabled,
.psw-form-input:disabled + label,
.psw-form-checkbox:disabled,
.psw-form-checkbox:disabled + label {
  opacity: 0.3;
}

.psw-form-input:not(:-moz-placeholder-shown) + label {
  top: -15px;
  font-size: 12px;
}

.psw-form-input:not(:-ms-input-placeholder) + label {
  top: -15px;
  font-size: 12px;
}

.psw-form-input:focus + label,
.psw-form-input:not(:placeholder-shown) + label {
  top: -15px;
  font-size: 12px;
}

.psw-form-item--colums {
  margin-right: -5px;
  margin-left: -5px;
}

.psw-form-item__colums-item {
  padding: 0 5px;
  position: relative;
}

.psw-form-item__colums-item label {
  position: absolute;
  top: 10px;
  left: 15px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.psw-form-item__colums-item--col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.psw-form-item__colums-item--col-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3%;
          flex: 1 0 33.3%;
}

.psw-form-item__colums-item--series {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.psw-form-input,
.psw-form-select {
  width: 100%;
  min-height: 40px;
  padding: 10px;
  border: 1px solid #e6eaea;
  background-color: #e6eaea;
  border-radius: 4px;
  font-size: 17px;
  outline: none;
}

.psw-form-input:focus,
.psw-form-select:focus {
  background-color: #fff;
}

.psw-form-screen-driver {
  display: none;
}

.psw-form-screen-driver.psw-form-screen-driver--active {
  display: block;
}

.psw-drivers-actions {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 50px;
}

.psw-drivers-actions__buttons {
  margin-bottom: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.psw-drivers-button {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding: 0 10px;
  border: 1px solid #444;
  border-radius: 50%;
  color: #444;
  font-size: 17px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.psw-drivers-button:hover {
  background-color: #e6eaea;
  border: 1px solid #444;
}

.psw-drivers-button.psw-drivers-button--active {
  background-color: #036800;
  border: 1px solid #036800;
  color: #fff;
}

.psw-response {
  display: none;
  width: 100%;
  padding: 20px;
}

.psw-response--active {
  display: block;
  min-height: 500px;
}

.psw-response__list {
  margin: 0;
  padding: 0 3px;
  list-style: none;
  max-height: 500px;
  overflow-y: scroll;
}

.psw-response__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #fff;
}

.psw-response__item--success {
  border: 1px solid #036800;
}

.psw-response__item--error {
  border: 1px solid #d44440;
}

.psw-response__item:last-child {
  margin: 0;
}

.psw-response-item__status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
}

.psw-response-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}

.psw-response-item__img img {
  width: 120px;
}

.psw-response-item__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}

.psw-response-item__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

.psw-response__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  min-height: 34px;
}

.suggestions_promo {
  position: absolute;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.psw-block-item {
  display: block;
}

.ps__widget_loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000026;
  z-index: 9999;
}

.ps__widget_loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.ps__widget_loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
}

.ps__widget_loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
  animation: blur-text 1.5s 0s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(3) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
  animation: blur-text 1.5s 1s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.ps__widget_loading-text span:nth-child(8) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.4s infinite linear alternate;
  animation: blur-text 1.5s 1.4s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

.ui-helper-hidden-accessible {
  display: none !important;
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.ps__widget_alert_block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #dcdcdc;
  display: none;
}

.ps__widget_alert_title {
  width: 100%;
  padding: 15px;
  color: #000000;
  font-size: 17px;
  border-bottom: 2px solid #ff0000;
}

.ps__widget_alert_content {
  padding: 15px;
  color: #000000;
  font-size: 14px;
}

.ps__widget_alert_close_btn {
  position: absolute;
  right: 15px;
  top: 4px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  color: #000000;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}*/

.psw_payment__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.psw_payment__header {
  border-bottom: 2px solid green;
  padding: 15px;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
}

.psw_payment__content {
  padding: 15px;
}

.psw_cols__2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.psw_cols__2 div:first-child img {
  max-width: 200px;
}

.psw_cols__2 div:last-child {
  margin-left: 30px;
  line-height: 1.8;
}

.psw_payment__controllers {
  display: block;
  margin-top: 35px;
}

.psw_payment__btn_block {
  width: 100%;
}

.psw_payment__btn_block a {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px 16px;
  background-color: #27b127;
  width: fit-content;
  color: #ffffff;
  text-decoration: none;
}

.psw_payment__btn_block a:hover {
  background-color: #58d558;
}

.psw_payment__btn_block a:active {
  background-color: #2ba02b;
}

.psw_payment__link_block {
  margin: 20px auto;
  text-align: center;
}

#psw_payment__close {
  display: block;
  position: absolute;
  height: 15px;
  width: 15px;
  right: 18px;
  top: 18px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 378.303 378.303' style='enable-background:new 0 0 378.303 378.303;' xml:space='preserve'%3E%3Cpolygon style='fill:%23FF3501;' points='378.303,28.285 350.018,0 189.151,160.867 28.285,0 0,28.285 160.867,189.151 0,350.018 28.285,378.302 189.151,217.436 350.018,378.302 378.303,350.018 217.436,189.151 '/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.psw_hidden__input {
  display: none;
}

.psw-response__list::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.psw-response__list::-webkit-scrollbar-track {
}

.psw-response__list::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;    /* color of the scroll thumb */
  border-radius: 6px;       /* roundness of the scroll thumb */
}

@media screen and (min-width: 600px) {
  .suggestions-promo {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
  }
}

@media (max-width: 767.98px) {
  .psw-wrapper {
    max-width: 480px;
    text-align: center;
  }

  .psw-main-screen__title {
    margin-bottom: 20px;
  }

  .psw-main-screen-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .psw-main-screen-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .psw-main-screen__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .psw-main-screen__psw-btn {
    width: 100%;
  }

  .psw-btn-link-wrapper {
    width: 100%;
  }

  .psw-form-col-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 0 0 40px;
  }

  .psw-form-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0;
  }

  .psw-form-col:first-child {
    margin-bottom: 20px;
  }

  .psw-form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .psw-form-footer .psw-btn {
    margin-bottom: 20px;
  }

  .psw-main-screen__psw-btn {
    margin-left: 0;
  }

  .psw-response__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .psw-response-item__status,
  .psw-response-item__img,
  .psw-response-item__name,
  .psw-response-item__price {
    margin-bottom: 10px;
  }

  .psw_cols__2 {
    display: block;
  }

  .psw_cols__2 div:last-child {
    margin-left: 0;
  }
}